BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

SortIncludes: true
IncludeBlocks: Regroup
IncludeIsMainRegex: '([-_](test|unittest))?$'

IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: '^<.*>$'
    Priority: 2
